<!doctype HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title> HydroCam </title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <div style="width:55%; height:100%; float: left;">
            <canvas id="myChart" height=225></canvas>
        </div>
        <div style="width:35%; float: right;" height=225>
            <form>
                <label for="topMarkVal">Top Marker Value:</label><br/>
                <input type="text" id="topMarkVal" name="topMarkVal" value=0.98><br/>
                <label for="markVal">Each Dash Value:</label><br/>
                <input type="text" id="markVal" name="markVal" value=0.002><br/>
            </form>
            <form style="margin-top: 60px;">
                <label for="specGravDots">SpecGrav Scale #Dots:</label><br/>
                <input type="text" id="specGravDots" name="specGravDots" value=3><br/>
                <label for="brixDots">Brix Scale #Dots:</label><br/>
                <input type="text" id="brixDots" name="brixDots" value=2><br/>
            </form>
        </div>
        
        <script src="/static/js/script.js"></script>
    </body>
</html>
